html {
    font-size: 18px;
  }
  /* #men{height:250px;
    width:250px;
    float: left;
    font-size:1rem;
    color: rgb(2, 64, 13); 
    font-style: italic; */
  }
  #Grey{
    float: right;
  }
  .heading{
    /* float: left; */
    text-align: center;
    font-family: "Permanent Marker", cursive;}

    #heading2{
      clear: both;
      font-size:1rem;
      text-align: center;
    }
  img { 
    height: 200px;
    width: 150px;
  }
  /* h2[value="4"] {
    font-size: 25px;
    /* text-align: center; */
    margin: top 100px; */
 
  
  }
  a[draggable="true"] {
    text-decoration: none;
  }
  a:hover {
    color: rgb(247, 6, 6);
  }
  h3 {
    color: green;
    font-size:1.5rem;
    font-weight: 900;
    font-family: "Architects Daughter", cursive;
  }
  body {
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    background-color: rgba(153, 153, 58, 0.575);
    margin-left: 25px;
  }
 
  #dv{height:250px;
    width:250px;
  border-radius: 50%;
  text-align:center;
  font-size:23px;
    background-color: rgba(235, 236, 222, 0.902);
    position:relative;
    display:inline-block;
  }
  #address{position:relative;
    top: 50px;}

  .quote{
   width: 250px;
    height: 250px;
   float:right;
  text-transform: capitalize;

 /* margin-top:100px; */
 font-style: italic;
   /* margin-top: 0px; */
    /* background-color: rgb(70, 95, 97); */
    /* border-radius: 50%; */
    /* text-align: center; */
    /* position:relative; */
    /* margin-left:100px; */
    font-size:1.5rem;
    color: rgb(4, 47, 111);  
  }
  .quote>span{font-weight: 800;
    color: rgba(206, 14, 14, 0.87);
  }